---
layout: compress
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <style type="text/css">
        #damon{
    font-size: 5vw; color: white; position:absolute; top:50%;left:50%;transform:translate(-50%,-50%);
        }
       #damon:link {
       color: white;
       text-decoration: none;
       }
       #damon:visited {
       text-decoration: none;
       color: #000000;
       }
       #damon:hover {
       text-decoration: none;
       text-shadow: 3px 5px 10px #000;
       }
       #damon:active {
       text-decoration: none;
       color: #FF0000;
       }
    </style>

    <body>
        <div style="width: 100%; height: 100%; overflow: hidden; background-image:url(https://dn-ssl-v6-res-dandyweng.qbox.me/images/header-background.jpg)">
        <a id="damon" href="/home.html">我是Damon Chen</a>
        </div>
        {% include scripts.html %}
    </body>
</html>
